.nav-img{
    width: 60px;
}

.accordion{
    width: 400px;
}

.section-one{
    display: flex;
    justify-content: space-around;
}


.section-two{
    margin-top: 50px;
}
.section-two h1{
    text-align: center;
}



.container-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
   
  }
  
  .my-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #ff4552;
    transition: background .2s linear;
    width: 450px;
    text-align: center;
    margin: 5px;
  }
  
  .my-card:hover{
    background-color: #e31919;
  }
  
  .my-card  img{
    width: 350px;
    height: 300px;
  }
  
  
  .num1 {
    font-size: 40px;
    text-align: center;
    border-radius: 40px;
    padding: 5px;
    background-color: rgb(255, 27, 27) ;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
  }
  
  
  .card-title{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
  }
  .all-carts-1 {
    padding: 30px 0;
  }


  
.accordion-button {
  background-color: rgb(30, 138, 30);
}

.accordion-item{
  background-color: rgb(209, 90, 90);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(28, 193, 28); 
  
}