.nav-img{
    width: 60px;
}

.accordion{
    width: 400px;
}

.section-one{
    display: flex;
    justify-content: space-around;
}


.section-two{
    margin-top: 50px;
}
.section-two h1{
    text-align: center;
}
.py-2 bg-body-tertiary border-bottom{
    color:red;
}